ul {
    display: flex;
}
li {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    min-width: 1em;
    list-style-type: none;
    border: solid black 2px;
    padding: 1em;
}

.correct {
    background-color: greenyellow;
    rotate: y 360deg;
}
.in_word {
    background-color: orange;
    rotate: y 360deg;
}
.not_in_word {
    background-color: gray;
    rotate: y 360deg;
}